th {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 20px;
    border: 2px #000 solid;
  }
  td {
    padding: 20px;
    border: 2px #000 solid;
  }
  
  body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    line-height: 30px;
    font-size: 18px;
    color: #777;
    background: #E9F4F6;
  }
  