<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="nav-links">
        <ul>
            <li><a href= "{{url_for('home')}}">Trang chủ</a></li> 
            <li><a href="">Trợ giúp</a></li>
            <li><a>Về tôi </a></li>
        </ul>
    </div>
    <div>
        <!-- <img src='{{img}}' alt="my plot"> -->
            <img src="plot_png.png" alt="">
    </div>
</body>
</html>